@font-face {
  font-family: "Orator";
  src: url("/resources/OratorStd.otf");
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: inherit;
}
#spacer {
  height: 20%;
  transition: height 1s;
}
#main {
}
#banner {
  height: 300px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/resources/img.jpg");
  transition: height 1s;
}
#banner-about {
  display: none;
  height: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/resources/img2.jpg");
  transition: height 1s;
}
#header {
  width: 600px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  font-family: "Orator", sans-serif;
  color: #333333;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
#title {
  margin-right: auto;
}
#links a {
  margin-left: 5px;
}
#links a:hover {
  color: #999999;
}
#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Orator", sans-serif;
  font-size: 32px;
}
#about {
  display: none;
}
