html {
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  background-image: url("title.png");
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 12pt;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 40pt;
  margin-bottom: 40px;
}

p {
  font-family: 'Open Sans', sans-serif;
  width: 70%;
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a :hover {
  color: pink;
}

#home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 500px;
}

#tophalf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 50%;
}

#social {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.button {
  height: 36px;
  width: 36px;
  font-size: 26pt;
}

.button :hover {
  color: pink;
}

#links {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-family: "Bebas Neue", Arial;
  font-size: 26pt;
}

.link {
  text-align: left;
  height: auto;
  width: 100%;
}

.link :hover {
  color: pink;
}

#bottomhalf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 50%;
}

#bottomhalf .button {
  font-size: 20px;
}

#about {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

#travel {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

#travel i {
  margin-left: 14px;
  margin-right: 14px;
}

#about a {
  color: pink;
  text-decoration: underline;
}

#projects {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#resume {
  height: 100%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#resume h1 {
  margin-bottom: 0px;
}

#resume a :hover {
  color: white;
}
