.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	perspective: 1000px;
}

.cube {
	position: relative;
	width: 200px;
	height: 50px;
	transform-style: preserve-3d;
	transition-duration: .5s;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 50px;
}

.front {
	background-color: #ffecb3;
	transform: translateZ(25px);
}

.top {
	background-color: #ffd24d;
	transform: rotateX(-90deg) translateY(-25px);
	transform-origin: top center;
}

.cube:hover {
	transform: rotateX(-90deg)
}