html {
	font-family: "Quicksand", sans-serif;
	line-height: 50px;
	text-align: center;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	perspective: 1000px;
}

.cube {
	position: relative;
	width: 200px;
	height: 50px;
	transform-style: preserve-3d;
	transition-duration: .6s;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 50px;
}

.front {
	background-color: #ffecb3;
	transform: translateZ(25px);
	transition-duration: .6s;
}

.top {
	background-color: #fef9d7;
	transform: rotatey(180deg) rotatez(180deg) rotateX(-90deg) translateY(-25px);
	transform-origin: top center;
	transition-duration: .6s;
}

.cube:hover {
	transform: rotateX(-90deg)
}

.cube:hover .front {
	background-color: #d5c07b;
}

.cube:hover .top {
	background-color: #ffecb3;
}